@media screen and (min-width: 1920px) {
    body {
        max-width: 1920px; 
        margin: 0 auto; 
    }
}
@media screen and (max-width: 450px) {
    header h1{
        display: none;
    }
    h1{
        font-size: 1.5em;
    }
}